<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Surviving Online School</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Bethany - v2.1.0
  * Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container">
      <div class="header-container d-flex align-items-center">
        <div class="logo mr-auto">
          <h1 class="text-light"><a href="index.html"><span>S.O.S</span></a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="#header">Home</a></li>
            <li><a href="#about">Daily Messages</a></li>
            <li><a href="#services">Games</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#team">Team</a></li>
            
            <li><a href="#contact">Contact</a></li>

        
          </ul>
        </nav><!-- .nav-menu -->
      </div><!-- End Header Container -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
      <h1>Surviving Online School</h1>
      <h1>{{test}}</h1>
      <h1>                </h1>
      <h2>Welcome Back Lauryn!</h2>
      <h3 class="subtitle">Earn points and extra credit with interactive and educational games crafted by your teachers.</h3>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->


  

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <section class="datesection">
              <p id="date1"></p>
              <script>
                var date = new Date();
                document.getElementById("date1").innerHTML = date;
                </script>
            </section>
            
            <h2>Daily Messages</h2>
            
            <button onclick="myFunction()" class="encouragebutton">Click Me!</button>


          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200">
            <p id="demo">{{quote}}</p>
            <!-- <p>
              {{quote}}
            </p> -->
            <script>
              function myFunction() {
                var things = ['The Best Way To Get Started Is To Quit Talking And Begin Doing.” – Walt Disney', 'Don’t Let Yesterday Take Up Too Much Of Today. – Will Rogers', 'It\’s Not Whether You Get Knocked Down, It’s Whether You Get Up. – Vince Lombardi', 'We May Encounter Many Defeats But We Must Not Be Defeated. – Maya Angelou', 'Knowing Is Not Enough; We Must Apply. Wishing Is Not Enough; We Must Do. – Johann Wolfgang Von Goethe', 'Creativity Is Intelligence Having Fun. – Albert Einstein'];
                var thing = things[Math.floor(Math.random()*things.length)];
                document.getElementById("demo").innerHTML = thing;
              }
            </script>
           
            <p class="font-italic">
             You accomplished so much more today. Let's do three challenges today to earn 50 pts and get closer to you extra credit goal!
            </p>
            <div class="emotions">
              <h3>How Are You Feeling Today?</h3>
              <p onClick="alertFunc()" id="superHappy"><img src="static/assets/img/superHappy.png" alt="Super Happy"></p>
              <p onClick="alertFunc()" id="smiley"><img src="static/assets/img/Untitled design (93).png" alt="Smiley face"></p>
              <p onClick="alertFunc()" id="neutral"><img src="static/assets/img/neutral.png" alt="neutral"></p>
              <p onClick="alertFunc()" id="frown"><img src="static/assets/img/frown.png" alt="frown"></p>
              <script>
                function alertFunc() {
                  alert("Thanks, your daily emotion has been recorded");
                }
              </script>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row counters">

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">5</span>
            <p>Projects</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            
            
            <span id="amountOfPoints" data-toggle="counter-up">521</span>
            <script>
                  var addedPoints = 600
            </script>
            <p>Total Points</p>
        
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">2</span>
            <p>Hours Spent</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">12</span>
            <p>Assignments Remain</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
            <div class="content">
              <h3>Ms. Smith Pre-Calculus</h3>
              <p>
                Welcome to Pre Calculus with Ms. Smith. In this class we will 
                begin with logarithms. Attached are the all the videos for the unit.
              </p>
              <div class="text-center">
              </div>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Logorithm Video</h4>
                    <section class="video11">
                      <a href="https://www.youtube.com/watch?v=i6sbjtJjJ-A"><img src="static/assets/img/videoscreen.jpg" alt="HTML tutorial"></a>
                    </section>
                    <!-- ../img/videoscreen.jpg -->
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Trig Identities</h4>
                    <section class="video12">
                      <a href="https://youtu.be/ep5vjIY5kqE"><img src="static/assets/img/videoscreen.jpg" alt="HTML tutorial"></a>
                    </section>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Exponential Functions Videos</h4>
                    <section class="video13">
                      <a href="https://youtu.be/3G5WluJ7LFA"><img src="static/assets/img/videoscreen.jpg" alt="HTML tutorial"></a>
                    </section>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="text-center" data-aos="zoom-in">
          <h3>Contact Your Teacher</h3>
          <a class="cta-btn" href="mailto:anna.smith@example.com">Send Email To Anna Smith</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <h2>EDUCATIONAL GAMES</h2>
              <p>Bored after a long day of work? Play some games and relax.</p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">
              <div class="col-md-6 d-flex align-items-stretch">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                  <div class="icon"><i id="alertIcon" onClick="alertIcon()" class="bx bxl-dribbble"></i></div>
                  <h4 class="gamelink1"><a style = "color: #009970;" href="https://www.crazygames.com/c/sports">Sport Games</a></h4>
                  <p>Do you love sports? Try one of our many selections of sport games.</p>
                  <script>
                    function alertIcon() {
                      alert("You have just earned some points!")
                      document.getElementById("amountOfPoints").innerHTML = addedPoints;
                    }
                  </script>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                  <div class="icon"><i onClick="alertIcon()" class="bx bx-file"></i></div>
                  <h4 class="gamelink2"><a style = "color: #009970;" href="https://www.coolmathgames.com/">Math Games</a></h4>
                  <p>Enhance your math skills with these games.</p>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                  <div class="icon"><i onClick="alertIcon()" class="bx bx-tachometer"></i></div>
                  <h4 class="gamelink3"><a style = "color: #009970;" href="https://www.dressupwho.com/cooking-games/">Hobby Games</a></h4>
                  <p>Do you enjoy cooking, drawing, or fashion, try our selection of fun hobby games to improve your skills.</p>
                </div>
              </div>

              <div class="col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                  <div class="icon"><i onClick="alertIcon()" class="bx bx-world"></i></div>
                  <h4 class="gamelink4"><a style = "color: #009970;" href="https://world-geography-games.com/">Geography Games</a></h4>
                  <p>Learn about the different landmarks and countries in the world.</p>
                </div>
              </div>
              <h class="music">Listen to Music While Working</h>
              <iframe class="Song"src={{video}} width="400" height="100"></iframe>

            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-left">
          <h2>TEXTBOOKS</h2>
          <p>Access to all your textbooks for the semester.</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">English and History</li>
              <li data-filter=".filter-card">Math and Science</li>
              <li data-filter=".filter-web">Art and Gym</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/assets/img/engtextbook.jpg" class="img-fluid" alt="engtextbook">
              <div class="portfolio-info">
                <h4>English</h4>
                
                <div class="portfolio-links">
            
                  <a href="https://oer.galileo.usg.edu/english-textbooks/" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/assets/img/artbook.png" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Art</h4>
                
                <div class="portfolio-links">
                  
                  <a href="https://human.libretexts.org/Bookshelves/Art/Book%3A_Introduction_to_Art_-_Design_Context_and_Meaning_(Sachant_et_al.)" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/assets/img/englishbook2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Weekly Reading</h4>
                
                <div class="portfolio-links">
                  
                  <a href="http://giove.isti.cnr.it/demo/eread/Libri/angry/Mockingbird.pdf" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/assets/img/mathbook2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Pre Calculus</h4>
                
                <div class="portfolio-links">
                  
                  <a href="https://www.rhinebeckcsd.org/teachers/cbaccaro/tinymce/js/tinymce/plugins/moxiemanager/data/files/PreCalculus/Precalculus%20by%20Demana%20&%20Waits%20TEXTBOOK.pdf" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/assets/img/arthistorybook.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Art History</h4>
                
                <div class="portfolio-links">
                  
                  <a href="https://www.pearson.com/us/higher-education/humanities---social-sciences/art/art.html" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="static/assets/img/historybook.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>History</h4>
                
                <div class="portfolio-links">
                  
                  <a href="https://www.ushistory.org/textbooks.htm" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/assets/img/sciencebook.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Physics</h4>
                
                <div class="portfolio-links">
                  
                  <a href="https://physics.info/" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="static/assets/img/chemistry.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Chemistry</h4>
                
                <div class="portfolio-links">
                  
                  <a href="https://www.google.com/search?q=ap+chemistry+textbook&tbm=isch&ved=2ahUKEwi-ysrm5bjtAhUSZN8KHc15A7cQ2-cCegQIABAA&oq=ap+chemis+textbook&gs_lcp=CgNpbWcQARgAMgYIABAHEB4yBggAEAcQHjIGCAAQBxAeMggIABAHEAUQHjIICAAQBxAFEB46BwgAELEDEEM6BAgAEEM6AggAOgQIABAYOgYIABAKEBhQ8_QLWOuBDGD5iwxoAHAAeACAAW6IAb8FkgEDOS4xmAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=MYPMX_5tksj9Bs3zjbgL&bih=732&biw=639&rlz=1C5CHFA_enUS929US929&hl=en#imgrc=atsgE2eMevxWuM" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="static/assets/img/gym.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Gym</h4>
                
                <div class="portfolio-links">
                  <a href="https://faculty.sfcc.spokane.edu/inetshare/AutoWebs/Health101/Fitness/Textbook-PDF.pdf" title="More Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <h2>Testimonials</h2>
              <p>Here are some testimonials from some users who have benefitted from using S.O.S. These are real scholars and instructors who have been using S.O.S and their lives have changed or they have witnessed someone's life who has changed.</p>
            </div>
          </div>
          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <div class="owl-carousel testimonials-carousel">

              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  This website is awesome. It's helped me catch up in school whenever I feel like I am slacking. It's also fun because we are able to play games. I highly recommend.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/samantha.png" class="testimonial-img" alt="">
                <h3>Samantha Jones</h3>
                <h4>Student</h4>
              </div>

              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  This website is a great way for students to catch up with their work. In these tough times, students need something to motivate them and this is a great way.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/marshall.png" class="testimonial-img" alt="">
                <h3>Marshall Butler</h3>
                <h4>Professor</h4>
              </div>

              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Students will thrive if they use this website because it is a way for them to be engaged with their online schoolwork. 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                <h3>Jennifer Brown</h3>
                <h4>High School Teacher</h4>
              </div>

              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Students showed a lot more progress using this website than any other tool we have used.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/robert.png" class="testimonial-img" alt="">
                <h3>Robert Wall</h3>
                <h4>Principal</h4>
              </div>

              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  It takes me a lot of effort to pay attention and learn in online school but this website makes it ten times easier and it helps me to survive, hence the name of the website.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="static/assets/img/testimonials/ricky.png" class="testimonial-img" alt="">
                <h3>Ricky Wilson</h3>
                <h4>High School Student</h4>
              </div>

            </div>
          </div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="row">
          <div class="col-lg-4">
            <div class="section-title" data-aos="fade-right">
              <h2>Team</h2>
              <p>Here is the team that created S.O.S.</p>
            </div>
          </div>
          <div class="col-lg-8">
            <div class="row">

              <div class="col-lg-6">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                  <div class="pic"><img src="static/assets/img/team/dorcas.jpeg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Ayo Ajayi</h4>
                    <span>Co-Developer</span>
                    <p>High School Student: Eleanor Roosevelt High School</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                  <div class="pic"><img src="static/assets/img/team/ebun.jpeg" class="img-fluid" alt=""></div>
                  <div class="member-info">
                    <h4>Ebun Oludemi</h4>
                    <span>Co-Developer</span>
                    <p>College Freshman: Howard Community College</p>
                    <div class="social">
                      <a href=""><i class="ri-twitter-fill"></i></a>
                      <a href=""><i class="ri-facebook-fill"></i></a>
                      <a href=""><i class="ri-instagram-fill"></i></a>
                      <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <div class="section-title">
              <h2>Contact</h2>
              <p>Do not hesitate to contact us. We love to hear feedback from our users so feel free to email, call, or even visit us at our location!</p>
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
            <iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
            <div class="info mt-4">
              <i class="icofont-google-map"></i>
              <h4>Location:</h4>
              <p>4444 Candle Street MD 56550 United States</p>
            </div>
            <div class="row">
              <div class="col-lg-6 mt-4">
                <div class="info">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>sosmanagement@sos.com</p>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="info w-100 mt-4">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>+1 876 232 4554</p>
                </div>
              </div>
            </div>

            <form action="forms/contact.php" method="post" role="form" class="php-email-form mt-4">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>SOS COMPANY</h3>
            <p>
              4444 Candle Street <br>
              MD 56550<br>
              United States <br><br>
              <strong>Phone:</strong> +1 876 232 4554<br>
              <strong>Email:</strong> sosmanagement@sos.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Surving Online School</span></strong>. All Rights Reserved
        </div>
        
      </div>
      
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/jquery/jquery.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/assets/vendor/counterup/counterup.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/venobox/venobox.min.js"></script>
  <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>